/bundlecheck
*.test
/coverage.out
.DS_Store
/testdata/angular-esbuild/
/testdata/nx-workspace/node_modules/
/testdata/nx-workspace/.nx/
/testdata/nx-workspace/.angular/
.nx/
node_modules/
/.superpowers/
